
@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}


body {
  background-color: #000000;
  background-image: url("images/background.png");
  font-family: Helvetica;
  text-align: center;
  background-repeat: repeat-x;

}
h1{
  text-transform: uppercase;
  font-size: 180px;
  font-family: 'Creepster', cursive;

}
h1:hover {
	animation: bounce 3s;
}

h2{
  position: relative;
  bottom: 150px;
  right: -200px;
  text-transform: uppercase;
  font-style: italic;
  font-size: 30px;
  font-family: 'Bungee Shade', cursive;
  }

.game-header{
  height: 200px;
  margin: 0 auto;
  position: relative;
  bottom: 50px;
}

.game-console{
  position: relative;
  background-color: orange;
  border: 3px solid black;
  margin: 0 auto;
  height: 300px;
  width: 600px;
}
.display{
  background-color: #F16F2D;
  /* margin: 0 auto; */
  position: absolute;
  bottom: -30px;
  left: 145px;
  height: 60px;
  width: 300px;
  border-radius: 10px;
  border: #231F20;
  font-family: 'Gravitas One', cursive;
  font-weight: bold;
  font-size: 30px;
  color: #ffffff;
}
span{
  position: relative;
  top: 15px;
  margin: 10px 10px 0px 10px;
}

.spangenerate{
  position: relative;
  bottom: 40px;
  border: 3px solid red;


}

.just-hanging{
  position: absolute;
  left: -90px;
  bottom: -30px;
  height: 200px;
}

.mr-guess{
  height: 230px;
  position: absolute;
  left: -20px;
  top: 70px;
}
.mr-hangam{
  height: 300px;
  position: absolute;
  right: 0px;
}
.mrhangmanmessage{
  position: absolute;;
  top: 50px;
  left: 200px;
  margin: 0 auto;
  padding: 30px 10px 10px 10px;
  height: 80px;
  width: 200px;
  max-resolution: 10px;
  background-color: #ffffff;
  border-radius: 10px;
}
.mrhangmanmessage:before{
  content: "";
  position: absolute;
  margin: 0 0 0 5px;
  top: 60px;
  right: -10px;
  width: 0px;
  height: 0px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #ffffff;
}

.mr-h-says{
  position: absolute;
  margin: 20px;
  font: 80%;
}

.random-word-output{
  position: absolute;
  top: 20px;
  left: 200px;
  background-color: white;
  margin: 0 auto;
  height: 50px;
  width: 200px;
}
.input-window{
  position: absolute;
  left: 200px;
  top: 190px;
  border-radius: 10px;
  background-color: #ffffff;
  height: 50px;
  width: 200px;
  margin: 0 auto;
}
.input-window:before{
  content: "";
  position: absolute;
  margin: 0 0 0 5px;
  top: 15px;
  left: -20px;
  border: 8px solid transparent;
  border-right-color: #ffffff;
}

input{
  margin-top: 5px;
  border: 0px;
  background-color: #ffffff;
  font-size: 15px
}
.guess-button{
  border-radius: 100%;
  height: 60px;
  width: 60px;
  background-color: #ED581E;
}

.guess-button:hover{
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.my-input{
  border-bottom: 2px solid grey;
  text-align: center;
  width: 100px;
}


.letter-tracker{
  position: absolute;
  border: 3px solid grey;
  border-radius: 100%;
  top: 260px;
  left: 35px;
  width: 100px;
  height: 100px;
  background-color: #ffffff;
}

.letters-used{
  position: relative;
  top: 25px;
  font-family: 'Gravitas One', cursive;
  font-size: 40px;
}
.mickey-box{
  position: absolute;
  top: 300px;
  left: 220px;
  background-color: white;
  margin: 0 auto;
  height: 150px;
  width: 150px;
  border: 5px solid gray;
  border-radius: 100%;
  z-index: -1;
}

.outcome-message{
  position: relative;
  top: 70px;
  font-family: 'Gravitas One', cursive;
  font-size: 30px;

}
.lives-counter-box{
  position: absolute;
  border: 3px solid grey;
  border-radius: 100%;
  top: 260px;
  left: 450px;
  width: 100px;
  height: 100px;
  background-color: #ffffff;
}

.lives-counter{
  position: relative;
  top: 25px;
  font-family: 'Gravitas One', cursive;
  font-size: 40px;
}
