
@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}


body {
  background-color: #000000;
  background-image: url("images/background.png");
  font-family: Helvetica;
  text-align: center;
  background-repeat: repeat-x;

}
h1{
  text-transform: uppercase;
  font-size: 180px;
  font-family: 'Creepster', cursive;

}
h1:hover {
	animation: bounce 3s;
}

h2{
  position: absolute;
  bottom: -40px;
  left: 930px;
  text-transform: uppercase;
  font-style: italic;
  font-size: 30px;
  font-family: 'Bungee Shade', cursive;
}

.game-header{
  height: 200px;
  margin: 0 auto;
  position: relative;
  bottom: 50px;
}

.game-console{
  position: relative;
  background-color: orange;
  border: 3px solid black;
  margin: 0 auto;
  height: 300px;
  width: 600px;
}

.just-hanging{
  position: absolute;
  left: -90px;
  bottom: -30px;
  height: 200px;
}

.mr-guess{
  height: 230px;
  position: absolute;
  left: -20px;
  top: 70px;
}
.mr-hangam{
  height: 300px;
  position: absolute;
  right: 0px;
}
.mr-hangman-message{
  position: relative;
  top: 100px;
  left: 200px;
  height: 80px;
  width: 200px;
  background-color: #ffffff;
  border-radius: 10px;
}
.mr-hangman-message:before{
  content: "";
  position: absolute;
  margin: 0 0 0 5px;
  top: 40px;
  right: -10px;
  width: 0px;
  height: 0px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #ffffff;
}

.mr-h-says{
  text-align: center;
  position: relative;
  top: 30px;
}

.random-word-output{
  position: absolute;
  top: 20px;
  left: 200px;
  background-color: white;
  margin: 0 auto;
  height: 50px;
  width: 200px;
}
.input-window{
  position: absolute;
  left: 200px;
  top: 190px;
  border-radius: 10px;
  background-color: #ffffff;
  height: 50px;
  width: 200px;
  margin: 0 auto;
}
.input-window:before{
  content: "";
  position: absolute;
  margin: 0 0 0 5px;
  top: 15px;
  left: -20px;
  border: 8px solid transparent;
  border-right-color: #ffffff;
}

input{
  margin-top: 15px;
  border: 0px;
  background-color: #ffffff;
  font-size: 18px
}
.my-input{
  border-bottom: 2px solid grey;
  text-align: center;
}
.letters-used{
  position: absolute;
  border: 3px solid grey;
  border-radius: 100%;
  top: 260px;
  left: 35px;
  width: 100px;
  height: 100px;
  background-color: #ffffff;
}
.mickey-box{
  position: absolute;
  top: 250px;
  left: 220px;
  background-color: white;
  margin: 0 auto;
  height: 150px;
  width: 150px;
  border: 5px solid gray;
  border-radius: 100%;
}
.lives-counter{
  position: absolute;
  border: 3px solid grey;
  border-radius: 100%;
  top: 260px;
  left: 450px;
  width: 100px;
  height: 100px;
  background-color: #ffffff;
}
